**/.DS_Store
.DS_Store
Extra Models (from including the Eight)
.Rhistory
Great Lakes Water Level Data
Data Sets
Great Lakes Shapefiles/Reference Shapefiles
Great Lakes Shapefiles/Custom Shapefiles/Individual Waterbodies (Articulated)/
Great Lakes Shapefiles/Custom Shapefiles/Full Watershed Great Lakes/wgs84*
Great Lakes Shapefiles/Custom Shapefiles/Full Watershed Great Lakes/Finalized_GL*
*EXTRA_CODE.rtf
Extra Materials
Step*.csv
Supplementary_Validation_Data_Frame.csv
Drafts for Final Publication
.Rproj.user
*.Rproj
